<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoWJJuRHIRGDYza5PqElOVOR3zVlacQeI</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.evenhub</string>
	<key>GCM_SENDER_ID</key>
	<string>416703257608</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:416703257608:ios:c33d0976f9c4cc3af085bd</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>evenhub-f8c6e</string>
	<key>STORAGE_BUCKET</key>
	<string>evenhub-f8c6e.appspot.com</string>
</dict>
</plist>
